Package: enigma2-plugin-skin-kravenfhd
Version: 3.7.9
Section: misc
Priority: optional
Architecture: all
Depends: python-imaging, python-subprocess, python-requests, python-xml, enigma2-plugin-systemplugins-mphelp
Maintainer: Team Kraven
Description: Skin for Enigma2
Source:
